/*this is the override document, you can style your document here, this is separate from the "basic" file
as that contains some base styling options that can be useful in any setting, however ANY CHANGE IN THIS 
DOCUMENT WILL OVERRIDE THE BASIC FILE IF IT CONFLICTS so you can change anything from here.

the basic file contains some classes and ids (all of witch start with "basic-") here's the list:
	id: topbar  | give this to a div to turn it into a navbar fixed to the top of the screen
	class: topbarelement  | give this to any item in the topbar created with the topbar id
	class: extlink  | give this to an anchor (<a></a>) to give it the visual behaviour of a standard web link
	class: with_transition  | give this to any item in the following list to enable it's basic.css transition
				\ list:button
	more will be added

if you wish to know the specific settings of the basic file just open it, it is there afterall */


* {
	background-color: white;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: blue;
	padding-bottom: 20px;
}

div{
	display: block;
}

h1{
	
}

p{
	
}

a{
	
}

img{
	
}

/* CUSTOM IDs AND CLASSES*/

#basic-topbar {
	width: 96%;
	height: 50px;
	position: fixed;
	top: 7px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:40px;
}

#home-body {
	background-image: url(../src/img/skybox.jpg);
}

#home-intro-holder {
	width: 85%;
	height: 300px;
	margin-top: 100px;
}

#home-interactive-card-holder {
	background-color: green;
	padding:20px;

	width: 85%;
	height: auto;
	margin-top: 50px;


	display: grid;
	/*	crea automaticamente più colonne possibili di larghezza che varia 
		da 200px al minimo a 15% dello schermo al massimo
	*/
	grid-template-columns: repeat(auto-fit, minmax(150px, 23.5%)); 
	gap: 20px; /* spazio tra le righe e colonne */
}

.home-interactive-card {
	transition-duration: 0.2s;
	border-radius: 16px;
	padding: 8px;
}

.home-interactive-card:hover {
	/*lascio il tempo di transizione
	per poter cambiare individualmente
	quanto ci mette a salire e scendere*/
	transition-duration: 0.2s;
	transform: translateY(-6px);
	box-shadow: 0px 4px 0px gray;
	display: block;
}


/*due calssi utilizzate de loadInteractiveCards per gli overlay*/
.home-interactive-card-overlay-inner {
	width: 65%;
	height: 65%;
	margin-left: 13%;
	margin-top: 130px;
}

.home-interactive-card-overlay-inner-paragraph {
	overflow-y: scroll;
	overflow-wrap: anywhere;
	width: 100%;
	height: 100%;
}



#astrarium-interactive-card-category-container-holder {
	background-color: green;
	padding: 20px;
	width: 85%;
	height: auto;
	margin-top: 100px;
}

#astrarium-api-credit-container {
	width: 86%;
	height: 100px;
	margin-top: 20px;
}

.astrarium-interactive-card-category-container {
}

.astrarium-interactive-card-category-container-inner {
	background-color: red;
	padding: 20px;
	width: 95%;
	height: auto;
	margin-top: 25px;
	display: grid;
	/*	crea automaticamente più colonne possibili di larghezza che varia 
		da 200px al minimo a 15% dello schermo al massimo
	*/
	grid-template-columns: repeat(auto-fit, minmax(150px, 23.5%));
	gap: 20px; /* spazio tra le righe e colonne */
}